/* Définir le Body/taille/couleur/margin... */
body {
  height: 95vh;
  background-color: rgb(192, 133, 107);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Le gros container block/GRID/ */
.big_container {
  width: 550px;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  gap: 10px;
 
}
/* Défini le cadre et taille des éléments dans la classe imageElement */
.imageElement {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%; 
  height: 100%; 
  height: auto;
  display: block;
  margin: auto;
  object-fit: contain;
  background-color:  rgb(113, 170, 166);
  transition: transform 0.5s ease; 

}
/* controler/définir les images à trouver */
.imageFind
{
  width: 100%; 
  height: 100%;
  transform: rotateY(-360deg);
}
